@import url(https://fonts.googleapis.com/css?family=Catamaran:200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding-top: 146px;
  background: #f5f6f7
}

.lead, h1, h2, h3, h4, h5, h6 {
  font-family: Catamaran, sans-serif
}

html {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  background: #f5f5f5
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 10px 0;
  color: #212121
}

h1 {
  line-height: 43px
}

h2 {
  line-height: 35px
}

h3 {
  line-height: 30px
}

h3 small, h4 small, h5 small {
  color: #444
}

h4 {
  line-height: 22px
}

* {
  outline: 0!important
}

a {
  color: #2075b3
}

a:active, a:focus, a:hover {
  text-decoration: none;
  outline: 0
}

.tabs li.tab a, .tag, a {
  text-decoration: none
}

.lead {
  font-size: 21px;
  color: #25282b
}

.shadow {
  -webkit-transition: all .3s;
  transition: all .3s;
  box-shadow: 0 1px 2px #d9dadb
}

.p-0 {
  padding: 0!important
}

.p-t-0 {
  padding-top: 0!important
}

.p-t-10 {
  padding-top: 10px!important
}

.p-b-10 {
  padding-bottom: 10px!important
}

.m-0 {
  margin: 0!important
}

.m-r-5 {
  margin-right: 5px
}

.m-r-10 {
  margin-right: 10px
}

.m-r-15 {
  margin-right: 15px!important
}

.m-l-10 {
  margin-left: 10px
}

.m-l-15 {
  margin-left: 15px
}

.m-t-5 {
  margin-top: 5px!important
}

.m-t-0 {
  margin-top: 0!important
}

.m-t-10 {
  margin-top: 10px!important
}

.m-t-15 {
  margin-top: 15px!important
}

.m-t-20 {
  margin-top: 20px
}

.m-t-30 {
  margin-top: 30px!important
}

.m-t-40 {
  margin-top: 40px!important
}

.m-b-0 {
  margin-bottom: 0
}

.m-b-5 {
  margin-bottom: 5px
}

.m-b-10 {
  margin-bottom: 10px
}

.m-b-15 {
  margin-bottom: 15px
}

.m-b-20 {
  margin-bottom: 20px
}

.m-b-30 {
  margin-bottom: 30px
}

.l-h-34 {
  line-height: 34px
}

.font-light {
  font-weight: 300
}

.wrapper-md {
  padding: 20px
}

.pull-in {
  margin-right: -15px;
  margin-left: -15px
}

.b-b-0 {
  border-bottom: 0!important
}

.b-0 {
  border: none!important
}

.no-border {
  border: none
}

.sep {
  width: 100%;
  height: 1px;
  margin: 30px 0;
  background: #ddd
}

.container {
  width: 94%;
  max-width: 1370px
}

.container-alt {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px
}

.footer {
  background-color: #f9f9f9
}

#wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%
}

.space-md {
  padding-top: 90px;
  padding-bottom: 90px
}

.space-lg {
  padding-top: 130px;
  padding-bottom: 130px
}

.page {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.vertical-align-wrap {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%
}

.vertical-align {
  display: table-cell;
  background: #fff
}

.vertical-align--middle {
  vertical-align: middle
}

.vertical-align--bottom {
  vertical-align: bottom
}

.page-title {
  margin-top: 7px;
  margin-bottom: 27px
}

.social-links li a {
  line-height: 30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #7a7676;
  border-radius: 50%;
  background: #eff0f4
}

.btn {
  border-radius: 2px
}

.btn-danger, .btn-info, .btn-inverse, .btn-pink, .btn-primary, .btn-purple, .btn-success, .btn-warning {
  color: #fff!important
}

.btn-default {
  border-color: #eee;
  background-color: #fff
}

.btn-default:active, .btn-default:focus, .btn-default:hover {
  border-color: #c2ced4;
  background-color: #f7f8fa
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
  border-color: #dae2ed;
  background-color: #f7f8fa
}

.btn-primary {
  border: 1px solid #6a76fc!important;
  background-color: #6a76fc!important
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
  border: 1px solid #515ffb!important;
  background-color: #515ffb!important
}

.btn-success {
  border: 1px solid #f30!important;
  background-color: #f30!important
}

.btn-success.active, .btn-success.focus, .btn-success:active, .btn-success:focus, .btn-success:hover, .open>.dropdown-toggle.btn-success {
  border: 1px solid #6fa255!important;
  background-color: #6fa255!important
}

.btn-info {
  border: 1px solid #3ddcf7!important;
  background-color: #3ddcf7!important
}

.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
  border: 1px solid #25d8f6!important;
  background-color: #25d8f6!important
}

.btn-warning {
  border: 1px solid #fa0!important;
  background-color: #fa0!important
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
  border: 1px solid #e69900!important;
  background-color: #e69900!important
}

.btn-danger {
  border: 1px solid #f30!important;
  background-color: #f30!important
}

.btn-danger.active, .btn-danger.focus, .btn-danger:active, .btn-danger:focus, .btn-danger:hover, .open>.dropdown-toggle.btn-danger {
  border: 1px solid #ed3c39!important;
  background-color: #ed3c39!important
}

.btn-inverse {
  border: 1px solid #4c5667!important;
  background-color: #4c5667!important
}

.btn-inverse.active, .btn-inverse.focus, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .open>.dropdown-toggle.btn-inverse {
  border: 1px solid #414a58!important;
  background-color: #414a58!important
}

.btn-purple {
  border: 1px solid #7266ba!important;
  background-color: #7266ba!important
}

.btn-purple:active, .btn-purple:focus, .btn-purple:hover {
  border: 1px solid #6254b2!important;
  background-color: #6254b2!important
}

.btn-pink {
  border: 1px solid #f76397!important;
  background-color: #f76397!important
}

.btn-pink:active, .btn-pink:focus, .btn-pink:hover {
  border: 1px solid #f64b87!important;
  background-color: #f64b87!important
}

.btn-border {
  border: 1px solid #f30;
  background: #fff
}

.btn-border:active, .btn-border:focus, .btn-border:hover {
  color: #fff
}

.breadcrmb-wrap {
  background-color: #fff;
  box-shadow: 0 1px 2px #d9dadb
}

.breadcrmb-wrap a.btn {
  margin-top: 13px
}

.breadcrmb-wrap a.btn i {
  padding-right: 7px;
  vertical-align: text-bottom
}

.breadcrumb {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px 10px 0;
  background-color: transparent
}

.breadcrumb li a {
  color: #25282b
}

.dropdown-menu {
  padding: 4px 0;
  -webkit-animation: dropdownOpen .3s ease-out;
  animation: dropdownOpen .3s ease-out;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
}

.dropdown-menu>li>a {
  padding: 6px 20px
}

.bg-primary {
  background-color: #6e8cd7!important
}

.bg-success {
  background-color: #33b86c!important
}

.bg-info {
  background-color: #29b6f6!important
}

.bg-warning {
  background-color: #ffd740!important
}

.bg-danger {
  background-color: #f30!important
}

.bg-muted {
  background-color: #d0d0d0!important
}

.bg-inverse {
  background-color: #212121!important
}

.bg-purple {
  background-color: #7e57c2!important
}

.bg-pink {
  background-color: #ec407a!important
}

.bg-white {
  background-color: #fff!important
}

.text-white {
  color: #fff
}

.text-danger {
  color: #ef5350
}

.text-muted {
  color: #98a6ad
}

.text-primary {
  color: #6e8cd7
}

.text-warning {
  color: #ffd740
}

.text-success {
  color: #33b86c
}

.text-info {
  color: #29b6f6
}

.text-inverse {
  color: #212121
}

.text-pink {
  color: #ec407a
}

.text-purple {
  color: #7e57c2
}

.text-dark {
  color: #212121!important
}

.form-control {
  font-size: 14px;
  height: auto;
  margin-bottom: 15px;
  padding: 9px 10px;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: none
}

.form-control:focus {
  border: 1px solid #e0e0e0;
  background: #fff;
  box-shadow: none
}

.select-search .btn-group {
  width: 100%;
  margin: 7px 0 16px
}

.form-horizontal.select-search .form-group {
  margin-right: 0;
  margin-left: 0
}

.form-horizontal.select-search .form-group .btn {
  margin-top: 5px;
  padding: 8px 12px
}

.checkbox.checkbox-inline, .radio.radio-inline {
  margin-top: 0
}

.select-search .btn-group label.btn {
  width: 33.33333%
}

.input-lg {
  height: 45px
}

label {
  font-size: 14px;
  font-weight: 400
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  z-index: 2;
  margin-left: -1px;
  padding: 9px 10px
}

.btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
  z-index: 2;
  border-color: #eee;
  background: rgba(242, 242, 247, .86);
  box-shadow: none
}

.select-search .btn-group label.btn i {
  font-size: 21px;
  display: block;
  padding-bottom: 8px
}

.select-search .control-label {
  margin-bottom: 2px;
  padding-top: 2px;
  text-align: right
}

.select-search .form-group {
  margin-bottom: 5px
}

.label {
  font-size: 75%;
  font-weight: 400;
  line-height: 10px;
  display: inline;
  padding: 6px 0 8px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
  border-radius: 2px
}

.checkbox {
  padding-left: 20px
}

.checkbox label {
  position: relative;
  display: inline-block;
  padding-left: 5px
}

.checkbox label::after, .checkbox label::before {
  position: absolute;
  left: 0;
  display: inline-block;
  margin-left: -20px
}

.checkbox label::before {
  width: 17px;
  height: 17px;
  content: '';
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: 0!important;
  background-color: #fff
}

.checkbox label::after {
  font-size: 11px;
  top: 0;
  width: 16px;
  height: 16px;
  padding-top: 1px;
  padding-left: 3px;
  color: #555
}

.checkbox-danger input[type=checkbox]:checked+label::after, .checkbox-info input[type=checkbox]:checked+label::after, .checkbox-primary input[type=checkbox]:checked+label::after, .checkbox-success input[type=checkbox]:checked+label::after, .checkbox-warning input[type=checkbox]:checked+label::after {
  color: #fff
}

.checkbox input[type=checkbox] {
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  outline: 0!important
}

.checkbox input[type=checkbox]:disabled+label {
  opacity: .65
}

.checkbox input[type=checkbox]:focus+label::before {
  outline: 0;
  outline-offset: -2px
}

.checkbox input[type=checkbox]:checked+label::after {
  font-family: themify;
  content: '\e64c'
}

.header .navigation-menu, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav.nav-tabs, .nav.nav-tabs>li>a, .nav.tabs-vertical>li>a, .tabs-vertical>li.active>a, .tabs-vertical>li.active>a i, .tabs-vertical>li.active>a:focus, .tabs-vertical>li.active>a:hover {
  font-family: Catamaran, sans-serif
}

.checkbox input[type=checkbox]:disabled+label::before {
  cursor: not-allowed;
  background-color: #ddd
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%
}

.checkbox.checkbox-single label {
  height: 17px
}

.checkbox-primary input[type=checkbox]:checked+label::before {
  border-color: #6e8cd7;
  background-color: #6e8cd7
}

.checkbox-danger input[type=checkbox]:checked+label::before {
  border-color: #ef5350;
  background-color: #ef5350
}

.checkbox-info input[type=checkbox]:checked+label::before {
  border-color: #29b6f6;
  background-color: #29b6f6
}

.checkbox-warning input[type=checkbox]:checked+label::before {
  border-color: #ffd740;
  background-color: #ffd740
}

.checkbox-success input[type=checkbox]:checked+label::before {
  border-color: #33b86c;
  background-color: #33b86c
}

.radio {
  padding-left: 20px
}

.radio label {
  position: relative;
  display: inline-block;
  padding-left: 5px
}

.radio label::after, .radio label::before {
  position: absolute;
  display: inline-block;
  margin-left: -20px
}

.radio label::before {
  left: 0;
  width: 17px;
  height: 17px;
  content: '';
  -webkit-transition: border .5s ease-in-out;
  transition: border .5s ease-in-out;
  border: 1px solid #ccc;
  border-radius: 50%;
  outline: 0!important;
  background-color: #fff
}

.radio label::after {
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  content: ' ';
  -webkit-transition: -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33), -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
  transition: transform .1s cubic-bezier(.8, -.33, .2, 1.33), -webkit-transform .1s cubic-bezier(.8, -.33, .2, 1.33);
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  border-radius: 50%;
  background-color: #555
}

.radio-primary input[type=radio]+label::after, .radio-primary input[type=radio]:checked+label::after {
  background-color: #6e8cd7
}

.radio input[type=radio] {
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  outline: 0!important
}

.radio input[type=radio]:disabled+label {
  opacity: .65
}

.radio input[type=radio]:focus+label::before {
  outline: 0;
  outline-offset: -2px
}

.radio input[type=radio]:checked+label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

.radio input[type=radio]:disabled+label::before {
  cursor: not-allowed
}

.radio.radio-single label {
  height: 17px
}

.radio-primary input[type=radio]:checked+label::before {
  border-color: #6e8cd7
}

.radio-danger input[type=radio]+label::after, .radio-danger input[type=radio]:checked+label::after {
  background-color: #ef5350
}

.radio-danger input[type=radio]:checked+label::before {
  border-color: #ef5350
}

.radio-info input[type=radio]+label::after, .radio-info input[type=radio]:checked+label::after {
  background-color: #29b6f6
}

.radio-info input[type=radio]:checked+label::before {
  border-color: #29b6f6
}

.radio-warning input[type=radio]+label::after, .radio-warning input[type=radio]:checked+label::after {
  background-color: #ffd740
}

.radio-warning input[type=radio]:checked+label::before {
  border-color: #ffd740
}

.radio-success input[type=radio]+label::after, .radio-success input[type=radio]:checked+label::after {
  background-color: #33b86c
}

.radio-success input[type=radio]:checked+label::before {
  border-color: #33b86c
}

.color-green {
  color: #33b86c
}

.label-primary {
  background-color: #6e8cd7
}

.label-success {
  background-color: #33b86c
}

.label-info {
  background-color: #29b6f6
}

.label-warning {
  background-color: #ffd740
}

.label-danger {
  background-color: #ef5350
}

.label-purple {
  background-color: #7e57c2
}

.label-pink {
  background-color: #f30
}

.label-inverse {
  background-color: #212121
}

.badge {
  font-size: 12px;
  font-weight: 400;
  margin-top: 1px;
  padding: 3px 5px
}

.badge-xs {
  font-size: 9px
}

.badge-sm, .badge-xs {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  transform: translate(0, -2px)
}

.badge-primary {
  background-color: #6e8cd7
}

.badge-success {
  background-color: #33b86c
}

.badge-info {
  background-color: #29b6f6
}

.badge-warning {
  background-color: #ffd740
}

.badge-purple {
  background-color: #7e57c2
}

.badge-pink {
  background-color: #ec407a
}

.badge-inverse {
  background-color: #212121
}

.pagination {
  display: inline-block;
  margin: 30px 0;
  padding-left: 0;
  border-radius: 4px;
  box-shadow: 0 1px 2px #d9dadb
}

.pagination>li>a {
  font-size: 14px;
  color: #25282b;
  border: 1px solid #eee;
  background-color: #fff
}

.pagination>li>span {
  color: #373e4a;
  border: 1px solid #eee;
  background-color: #fff
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  border-color: #f30;
  background-color: #f30
}

.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #fff
}

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
  z-index: 2;
  border-color: #eee;
  background-color: #f7f8fa
}

.tabs, .tabs li.tab {
  background-color: #fff
}

.tabs {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  white-space: nowrap
}

.tabs li.tab {
  display: block;
  float: left;
  margin: 0;
  text-align: center
}

.tabs li.tab a {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: color .28s ease;
  transition: color .28s ease;
  color: #ee6e73
}

.tabs li.tab a.active {
  color: #6e8cd7!important
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #6e8cd7;
  will-change: left, right
}

.tabs-top .indicator {
  top: 0
}

.nav.nav-tabs+.tab-content {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 2px #d9dadb
}

.tabs-vertical-env {
  margin-bottom: 30px;
  background-color: #ddd
}

.tabs-vertical-env .tab-content {
  display: table-cell;
  padding: 30px;
  vertical-align: top;
  background: #fff
}

.tabs-vertical-env .nav.tabs-vertical {
  display: table-cell;
  width: 150px;
  min-width: 120px;
  vertical-align: top
}

.nav.nav-tabs>li>a i, .table>tbody>tr>td.middle-align, .table>thead>tr>td.middle-align {
  vertical-align: middle
}

.tabs-vertical-env .nav.tabs-vertical li.active>a {
  background-color: #fff
}

.tabs-vertical-env .nav.tabs-vertical li>a {
  text-align: center;
  white-space: nowrap;
  color: #333
}

.nav.nav-tabs>li.active>a {
  border: 0;
  background-color: #fff;
  box-shadow: 0 1px 2px #d9dadb
}

.nav.nav-tabs.solo-nav>li.active>a {
  border: 0;
  border-top: 0;
  background-color: #fff
}

.nav-tabs.solo-nav>li {
  float: left;
  margin-bottom: -1px;
  margin-bottom: 0;
  margin-left: -1px
}

.modal-content .nav.nav-tabs+.tab-content, .modal-content .panel-group, .tabs-vertical-env .tab-content {
  margin-bottom: 0
}

.nav.nav-tabs>li>a, .nav.tabs-vertical>li>a {
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  padding: 0 20px;
  cursor: pointer;
  color: #212121;
  border: none;
  border-radius: 0;
  background-color: transparent
}

.nav.nav-tabs>li>a i {
  font-size: 16px;
  padding-right: 5px
}

.nav.nav-tabs>li:last-of-type a {
  margin-right: 0
}

.nav.nav-tabs {
  border-bottom: 0
}

.navtab-bg {
  background-color: #ddd
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover, .tabs-vertical-env .nav.tabs-vertical li.active>a {
  border: none
}

@media (min-width:278px) and (max-width:779px) {
  .nav-tabs>li {
    width: 100%;
    margin-right: 0;
    border-bottom: 1px solid #eee
  }
}

.dropcap {
  font-size: 3.1em
}

.dropcap, .dropcap-circle, .dropcap-square {
  font-weight: 400;
  line-height: 36px;
  display: block;
  float: left;
  margin-right: 6px;
  text-shadow: none
}

.modal .modal-dialog .modal-content {
  padding: 30px;
  border-color: #ddd;
  border-radius: 2px;
  box-shadow: none
}

.modal .modal-dialog .modal-content .modal-header {
  margin: 0;
  padding: 0 0 15px;
  border-bottom-width: 2px
}

.modal .modal-dialog .modal-content .modal-body {
  padding: 20px 0
}

.modal .modal-dialog .modal-content .modal-footer {
  padding: 15px 0 0
}

.modal-full {
  width: 98%
}

.modal-content .panel {
  border-top: none
}

.legendLabel {
  padding-left: 10px!important
}

.list-group-item:first-child, .list-group-item:last-child {
  padding: 12px 20px;
  border-radius: 0
}

.alert-success {
  color: #33b86c;
  border-color: #7ad19f;
  background-color: #ccedda
}

.alert-success .alert-link {
  color: #268a51
}

.list-group-item.active, .list-group-item.active:hover {
  z-index: 2;
  color: #444;
  border-color: #ddd;
  background-color: #ddd
}

.list-group-item.active:hover .list-group-item-text {
  color: #6e8cd7
}

.list-group-item.active:focus {
  z-index: 2;
  color: #444;
  border-color: #ddd;
  background-color: #ddd
}

.header .active .submenu li.active a, .list-group-item.active .list-group-item-text, .list-group-item.active:focus .list-group-item-text, .list-group-item.active>.badge, .nav-pills>.active>a>.badge {
  color: #f30
}

.list-group-item:first-child {
  border-top: 0
}

.list-group-item-heading {
  font-weight: 300
}

.has-success .form-control {
  border-color: #33b86c;
  box-shadow: none!important
}

.has-warning .form-control {
  border-color: #ffd740;
  box-shadow: none!important
}

.has-error .form-control {
  border-color: #ef5350;
  box-shadow: none!important
}

.input-group-addon {
  border: 1px solid #eee;
  border-radius: 2px
}

.header {
  position: fixed;
  z-index: 1030;
  top: 0;
  right: 0;
  left: 0;
  min-height: 60px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  border: 0;
  background-color: transparent
}

.header-top {
  font-family: 'Open Sans', sans-serif;
  padding: 1px 0 10px
}

header .header-top-links {
  height: 65px;
  padding-top: 10px;
  padding-bottom: 10px
}

.toplinks {
  line-height: normal;
  padding: 6px 0 0
}

.toplinks .links {
  text-align: right
}

.toplinks .links div {
  display: inline-block
}

.toplinks div.links div a {
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  padding: 0;
  padding-left: 15px;
  text-decoration: none;
  color: #000;
  color: #88898e
}

.toplinks div.links div a:hover {
  text-decoration: none;
  color: #e76d66!important
}

.header .top-nav {
  padding: 10px 0;
  border-radius: 0;
  background-color: #25282e
}

.header .top-nav .badge {
  position: absolute;
  top: 12px;
  right: 7px
}

.header .top-nav .nav>li>a {
  line-height: 60px;
  position: relative;
  padding: 3px 20px 0;
  color: #fff!important;
  background: 0 0!important
}

.header .top-nav .nav>li>a i {
  font-size: 18px
}

.header .top-nav .nav>li>a.btn {
  line-height: 36px;
  margin-top: 11px;
  padding: 0 20px;
  border-color: #f30!important;
  background: #f30!important
}

.header .top-nav .nav li:last-child ul.dropdown-menu {
  margin-bottom: 11px
}

.header .top-nav .dropdown-menu-lg .list-group, .header .top-nav .dropdown-menu-lg .media-heading {
  margin-bottom: 0
}

.header .top-nav .navbar-nav>.open>a i {
  color: #b8b8b8
}

.header .top-nav .dropdown-menu-lg {
  width: 300px
}

.header .top-nav .dropdown-menu-lg .list-group-item {
  padding: 10px 20px;
  border: none
}

.header .top-nav .dropdown-menu-lg .media-body p {
  color: #828282
}

.header .top-nav .notification-list {
  max-height: 230px
}

.header .top-nav .notification-list em {
  width: 34px;
  text-align: center
}

.header .top-nav .notification-list .media-body {
  display: inherit;
  overflow: hidden;
  width: auto;
  margin-left: 50px
}

.header .top-nav .notification-list .media-body h5 {
  font-weight: 400;
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis
}

.header .top-nav .notifi-title {
  font-size: 14px;
  padding: 11px 20px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.header .top-nav .navbar-nav {
  margin: 0
}

.header .top-nav .topbar-left .logo {
  display: block;
  margin-top: 10px
}

@media (max-width:768px) {
  .header .top-nav .topbar-left .logo {
    margin-top: 14px
  }
}

.header .app-search {
  position: relative;
  max-width: 320px;
  margin: 11px 0 5px
}

.header .app-search a {
  position: absolute;
  top: 12px;
  right: 16px;
  color: rgba(255, 255, 255, .7)
}

.header .app-search .form-control, .header .app-search .form-control:focus {
  font-family: Catamaran, sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 38px;
  padding: 9px 69px 7px 20px;
  color: #fff;
  border: none;
  border-radius: 2px;
  background: rgba(54, 59, 67, .63);
  box-shadow: none
}

.header .app-search input::-webkit-input-placeholder {
  font-weight: 400;
  color: rgba(255, 255, 255, .6)
}

.header .app-search input:-moz-placeholder {
  font-weight: 400;
  color: rgba(255, 255, 255, .6)
}

.header .app-search input::-moz-placeholder {
  font-weight: 400;
  color: rgba(255, 255, 255, .6)
}

.header .app-search input:-ms-input-placeholder {
  font-weight: 400;
  color: rgba(255, 255, 255, .6)
}

.header .navbar-custom {
  background-color: #fff
}

.header .navbar-toggle {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0
}

.header .navbar-toggle:hover {
  background-color: transparent
}

.header .navbar-toggle:hover span {
  background-color: #6e8cd7
}

.header .navbar-toggle:focus {
  background-color: transparent
}

.header .navbar-toggle:focus span {
  background-color: #6e8cd7
}

.header .navbar-toggle .lines {
  position: relative;
  display: block;
  width: 25px;
  height: 18px;
  margin: 23px auto 17px
}

.header .navbar-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  -webkit-transition: -webkit-transform .5s ease, -webkit-transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  background-color: #fff
}

.header .navbar-toggle.open span {
  position: absolute
}

.header .navbar-toggle.open span:first-child {
  top: 6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header .navbar-toggle.open span:nth-child(2) {
  visibility: hidden
}

.header .navbar-toggle.open span:last-child {
  top: 6px;
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.header .navigation-menu {
  margin: 0;
  padding: 0;
  list-style: none
}

.header .navigation-menu>li {
  position: relative;
  display: block;
  float: left
}

.header .navigation-menu>li>a {
  font-size: 16px;
  font-weight: 300;
  font-weight: 500;
  line-height: 20px;
  display: block;
  padding-right: 25px;
  padding-left: 25px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: capitalize;
  color: #212121
}

.header .navigation-menu>li, .header .navigation-menu>li>a:active i>a:active, .header .navigation-menu>li>a:focus, .header .navigation-menu>li>a:focus i, .header .navigation-menu>li>a:hover, .header .navigation-menu>li>a:hover i {
  color: #6e8cd7
}

.header .navigation-menu>li>a i {
  font-size: 18px;
  position: relative;
  display: -webkit-inline-box;
  margin-top: -3px;
  margin-right: 7px;
  vertical-align: middle
}

.header .navigation-menu>li>a:focus, .header .navigation-menu>li>a:hover {
  border-color: transparent;
  background-color: transparent
}

.header .top-nav .topbar-left {
  float: left
}

@media (min-width:987px) {
  .header .navigation-menu>li>a {
    padding-top: 21px;
    padding-bottom: 21px
  }
  .header .navigation-menu>li.last-elements .submenu {
    right: 0;
    left: auto
  }
  .header .navigation-menu>li.last-elements .submenu>li.has-submenu .submenu {
    right: 100%;
    left: auto;
    margin-right: 10px;
    margin-left: 0
  }
  .header .navigation-menu>li:first-of-type a {
    padding-left: 0
  }
  .header .navigation-menu>li:hover a, .header .navigation-menu>li:hover a i {
    color: #6e8cd7
  }
  .header .navigation-menu>li .submenu {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    visibility: hidden;
    min-width: 200px;
    margin-top: 10px;
    padding: 15px 0;
    list-style: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1)
  }
  .header .navigation-menu>li .submenu.megamenu {
    width: auto;
    white-space: nowrap
  }
  .header .navigation-menu>li .submenu.megamenu>li {
    display: inline-block;
    overflow: hidden;
    width: 200px;
    vertical-align: top
  }
  .header .navigation-menu>li .submenu>li .submenu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 10px
  }
  .header .navigation-menu>li .submenu li {
    position: relative
  }
  .header .navigation-menu>li .submenu li ul {
    margin: 0;
    padding-left: 0;
    list-style: none
  }
  .header .navigation-menu>li .submenu li a {
    display: block;
    clear: both;
    padding: 8px 25px;
    white-space: nowrap;
    color: #212121
  }
  .header .navigation-menu>li .submenu li a:hover {
    color: #6e8cd7
  }
  .header .navigation-menu>li .submenu li span {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.42857143;
    display: block;
    clear: both;
    padding: 8px 25px;
    white-space: nowrap;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #949ba1
  }
  .header .navbar-toggle {
    display: none
  }
  .header #navigation {
    display: block!important
  }
}

@media (max-width:987px) {
  .page-title, .wrapper {
    margin-top: 0
  }
  .page-title {
    padding-top: 5px
  }
  .container {
    width: auto
  }
  .header {
    box-shadow: none
  }
  .header .navigation-menu {
    float: none;
    max-height: 400px
  }
  .header .navigation-menu>li {
    float: none
  }
  .header .navigation-menu>li>a {
    padding: 15px;
    color: #212121
  }
  .header .navigation-menu>li>a i {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0
  }
  .header .navigation-menu>li>a:after {
    position: absolute;
    right: 15px
  }
  .header .navigation-menu>li .submenu {
    display: none;
    margin: 0;
    padding-left: 20px;
    list-style: none
  }
  .header .navigation-menu>li .submenu li a {
    position: relative;
    display: block;
    padding: 7px 20px;
    color: #212121
  }
  .header .navigation-menu>li .submenu li a:hover, .header .navigation-menu>li.has-submenu.open>a {
    color: #6e8cd7
  }
  .header .navigation-menu>li .submenu li.has-submenu>a:after {
    font-family: 'Material Design Iconic Font';
    position: absolute;
    right: 30px;
    content: '\f1b4'
  }
  .header .navigation-menu>li .submenu.open {
    display: block
  }
  .header .navigation-menu>li .submenu .submenu {
    display: none;
    list-style: none
  }
  .header .navigation-menu>li .submenu .submenu.open {
    display: block
  }
  .header .navigation-menu>li .submenu.megamenu>li>ul {
    padding-left: 0;
    list-style: none
  }
  .header .navigation-menu>li .submenu.megamenu>li>ul>li>span {
    font-size: 11px;
    position: relative;
    display: block;
    padding: 15px;
    letter-spacing: 2px;
    text-transform: uppercase
  }
  .header .navbar-header {
    float: left
  }
  #navigation {
    position: absolute;
    top: 60px;
    left: 0;
    display: none;
    overflow: auto;
    width: 100%;
    height: auto;
    padding-bottom: 0;
    border-top: 1px solid #e7e7e7;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12)
  }
  #navigation.open {
    display: block;
    overflow-y: auto
  }
}

.coupon-block .coupon-value, .panel-title, .widget .widget-heading a {
  font-family: Catamaran, sans-serif
}

.btn-code span.btn-hover:after, .ribbon:after, .ribbon:before, .tag:before {
  content: ''
}

@media (min-width:768px) {
  .header .navigation-menu>li.has-submenu:hover>.submenu {
    visibility: visible;
    margin-top: 0;
    opacity: 1
  }
  .header .navigation-menu>li.has-submenu:hover>.submenu>li.has-submenu:hover>.submenu {
    visibility: visible;
    margin-right: 0;
    margin-left: 0;
    opacity: 1
  }
  .navbar-toggle {
    display: block
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  text-align: left!important;
  color: #58666e;
  border-top: 1px solid rgba(33, 33, 33, .1)
}

#owl-demo, .thumb-inside, .thumbnail {
  position: relative
}

.footer ul li {
  padding-right: 10px;
  padding-left: 10px
}

.footer ul li a {
  color: #797979
}

.footer ul li a:hover {
  color: #6e8cd7
}

.widget {
  margin-bottom: 30px;
  -webkit-transition: all .4s;
  transition: all .4s;
  background: #fff;
  box-shadow: 0 1px 2px #d9dadb
}

.widget .widget-heading {
  padding: 11px 20px 8px;
  color: #fff;
  border-bottom: 1px solid #eee
}

.widget .widget-heading .sort {
  margin-bottom: 0
}

.widget .widget-heading .sort .form-control {
  margin-bottom: 0;
  padding: 3px 10px
}

.widget .widget-heading .widget-title {
  font-size: 16px;
  font-weight: 500;
  float: left;
  margin-top: 0;
  margin-bottom: 0
}

.widget .widget-heading .widget-widgets {
  font-size: 13px;
  line-height: 29px;
  position: relative;
  display: inline-block;
  float: right;
  padding-left: 15px;
  text-align: right
}

.widget .widget-heading .widget-widgets .divider {
  margin: 0 5px
}

.widget .widget-heading a {
  display: inline-block;
  color: #f30
}

.widget .widget-heading a span {
  font-size: 10px
}

.widget:hover {
  box-shadow: 0 2px 5px #d9dadb
}

.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a, .tag {
  color: #25282b
}

.widget .widget-body {
  padding: 20px;
  border-radius: 2px
}

.panel .panel-body {
  padding: 20px
}

.panel .panel-body p {
  margin: 0
}

.panel .panel-body p+p {
  margin-top: 15px
}

.panel-heading {
  padding: 12px 20px;
  border: none!important;
  border-radius: 0
}

.panel-default>.panel-heading {
  color: #797979;
  border-bottom: none;
  background-color: #fafafa
}

.panel-title {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0
}

.panel-title a i {
  padding-right: 7px;
  vertical-align: middle
}

.panel-footer {
  border-top: 0;
  background: #fafafa
}

.panel-color .panel-title {
  color: #fff
}

.panel-border {
  border-radius: 3px
}

.panel-border .panel-heading {
  padding: 10px 20px 0;
  border-radius: 3px;
  background-color: #fff
}

.panel-border .panel-body {
  padding: 15px 20px 20px
}

.panel {
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: none
}

.slide-wrap {
  margin-top: 30px
}

#owl-demo .item {
  height: 200px;
  padding: 30px 0;
  text-align: center;
  border: 1px solid #999;
  background: #aaa;
  text-shadow: none
}

.carousel-tabs {
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 1px 2px #d9dadb
}

.carousel-tabs .tab {
  padding: 20px;
  color: inherit;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee
}

@media (min-width:278px) and (max-width:779px) {
  .carousel-tabs .tab {
    text-align: center;
    border-top: none;
    border-right: none
  }
  .carousel-tabs .tab .media {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee
  }
  .carousel-tabs .tab .media-left.media-middle {
    display: block;
    text-align: center
  }
}

.carousel-tabs .tab .media-heading {
  font-size: 17px;
  font-weight: 500;
  color: #25282b
}

.carousel-tabs .tab:last-child {
  border-right: transparent
}

.thumbnail {
  line-height: 1.42857143;
  display: block;
  margin-bottom: 20px;
  padding: 4px;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  border: 1px solid #eee;
  border-radius: 0;
  background-color: #fff
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
  border-color: #eee;
  box-shadow: rgba(47, 48, 51, .1) 0 0 5px 1px
}

.thumb-inside .favorite a {
  position: absolute;
  top: 5px;
  right: 8px;
  color: #ddd
}

.thumb-inside .favorite a:hover i {
  color: #ec1076
}

.coupons-cat div a {
  line-height: 35px;
  color: inherit
}

.coupons-cat div a:hover {
  color: #f30
}

.coupon-wrapper {
  min-height: 160px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f8f8f8
}

.coupon-wrapper.coupon-single {
  position: relative;
  padding: 20px 15px;
  background-color: #fff;
  box-shadow: 0 1px 2px #d9dadb
}

.coupon-wrapper.coupon-single:last-of-type {
  margin-bottom: 10px
}

.tab-pane .coupon-wrapper.coupon-single .ribbon-wrapper {
  right: 0
}

.tab-content .coupon-wrapper:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0
}

.tab-pane.single-coupon {
  margin-bottom: 20px
}

.tab-pane.single-coupon .coupon-wrapper:last-child {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee
}

.savings {
  border: 1px dashed #ddd;
  border-radius: 3px;
  background: rgba(242, 242, 247, .17)
}

.savings .large {
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: -10px;
  padding-top: 8px
}

.savings .small {
  font-weight: 700;
  max-width: 60px;
  margin: 14px auto auto;
  padding: 5px 0 10px
}

.savings .type {
  padding: 5px 0;
  border-top: 1px dashed #e7e7e7;
  background: rgba(242, 242, 247, .86)
}

@media (max-width:779px) and (min-width:277px) {
  .coupon-wrapper {
    text-align: center
  }
  .savings {
    max-width: 200px;
    margin: 0 auto 20px
  }
  .coupon-wrapper .btn-code {
    margin: 15px auto
  }
}

.coupon-contain span.verified.text-success i {
  padding-right: 5px
}

.coupon-contain ul li {
  line-height: 7px;
  vertical-align: middle
}

.coupon-contain ul.coupon-details li:first-of-type {
  margin-left: 0;
  padding-left: 0
}

.coupon-contain p.collapsed {
  cursor: pointer
}

.coupon-contain .list-inline {
  font-size: 13px;
  padding-left: 5px;
  color: #a1a3a7
}

.coupon-details {
  margin-top: 15px;
  margin-bottom: 0
}

.coupon-details ul li {
  margin-left: 0
}

.coupon-details .btn-group .btn:nth-of-type(2) {
  color: #7ab55c
}

.coupon-title {
  margin-top: 15px;
  margin-bottom: 10px
}

.coupon-title a {
  font-size: 21px;
  font-weight: 400;
  line-height: 28px;
  margin-top: auto;
  color: #212121
}

.btn-code, .btn-code span.partial-code {
  line-height: 34px;
  display: block;
  overflow: hidden
}

.button-contain .btn-code {
  max-width: 160px;
  margin-top: 30px
}

.btn-code {
  position: relative;
  height: 36px;
  margin: auto;
  border-radius: 2px
}

.btn-code span.partial-code {
  padding-right: 11px;
  /* text-align: right; */
  color: #4a90e2;
  border: 1px dashed #4a90e2;
  border-radius: 3px;
  background: #e0efff
}

.btn-code span.btn-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  cursor: pointer;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  color: #f30;
  border: 1px solid #f30;
  border-radius: 3px;
  background-color: #fff
}

.btn-code span.btn-hover:hover {
  width: 80%;
  color: #fff;
  background-color: #f30
}

.btn-code span.btn-hover:after {
  position: absolute;
  right: -26px;
  width: 0;
  height: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transform: scale(-1);
  -ms-transform: scale(-1);
  transform: scale(-1);
  border-right: 0 solid transparent;
  border-left: 26px solid transparent;
  -webkit-filter: FlipV;
  filter: FlipV;
  -ms-filter: FlipV
}

.btn-code span.coupon-hover-corner {
  position: absolute;
  z-index: 13;
  top: 0;
  left: 74%;
  display: block;
  width: 42px;
  height: 46px;
  margin-top: 2px;
  -webkit-transition: -webkit-transform 250ms, background-position 250ms, -webkit-transform 250ms;
  transition: transform 250ms, background-position 250ms, -webkit-transform 250ms;
  -webkit-transform: rotateZ(22deg) translate(0, -10px) scaleX(.9);
  transform: rotateZ(22deg) translate(0, -10px) scaleX(.9);
  border-radius: 0 0 4px 4px;
  background: -webkit-linear-gradient(52deg, #7ab55c 0, #7ab55c 49%);
  background: -webkit-linear-gradient(52deg, #7ab55c 0, #7ab55c 49%);
  background: linear-gradient(38deg, #7ab55c 0, #7ab55c 49%);
  background-color: #7ab55c;
  background-repeat: no-repeat;
  background-position: 0 6px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden
}

.btn-code span.coupon-hover:hover:after {
  border-top: 44px solid #7ab55c
}

.button-contain .btn-group {
  margin-top: 15px
}

.coupon-block .coupon-store {
  line-height: 78px
}

.coupon-block .coupon-value {
  font-size: 21px;
  font-weight: 600;
  line-height: 1;
  margin: 25px 0 0
}

.coupon-block, .coupon-block .coupon-store {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 10px;
  text-align: center
}

.coupon-block .coupon-image {
  display: block;
  height: 220px
}

.coupon-block .coupon-store {
  display: block;
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee
}

.coupon-block .coupon-store img {
  display: block;
  width: 170px;
  height: 70px;
  margin: auto
}

.coupon-block .coupon-title {
  margin: 15px 30px
}

.coupon-block .action-block {
  max-width: 80%;
  margin: 0 auto 15px;
  text-align: center
}

.coupon-block .action-block .btn-code {
  display: block;
  max-width: 140px;
  margin: 0 auto 20px
}

span.expiry_date {
  font-size: 13px;
  display: block;
  margin-bottom: 22px;
  padding: 0 15px;
  color: #a1a3a7
}

.coupon_code, .report .vote-link, .tag {
  display: inline-block
}

.trending-coupons .widget-body {
  padding: 0
}

.trending-coupons .widget-body .media {
  font-size: 13px;
  margin-top: 0;
  padding: 15px;
  border-bottom: 1px solid #eee
}

.trending-coupons .widget-body .media:last-child {
  border-bottom: none
}

.trending-coupons .widget-body .media:hover {
  background-color: #f9f9f9
}

.trending-coupons .widget-body .media .media-heading {
  font-size: 16px;
  font-weight: 500
}

.tags {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none
}

.tags li {
  float: left
}

.tag {
  font-size: 14px;
  line-height: 26px;
  position: relative;
  height: 28px;
  margin: 1px 10px 10px 0;
  padding: 0 20px 0 23px;
  -webkit-transition: all .4s;
  border: 1px solid #eee;
  border-radius: 2px
}

.tag:after, .tag:before {
  -webkit-transition: all .4s;
  background: #fff
}

.tag:before {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25)
}

.tag:after {
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent
}

.tag:hover {
  color: #fff;
  border-color: #f30;
  background-color: #f30
}

.tag:hover:after {
  border-left-color: #aacc4e
}

.terms {
  font-size: 13px;
  line-height: 18px;
  color: #686868
}

.newsletter-wrap .widget-heading {
  border-bottom: none
}

.newsletter-alert {
  padding: 60px 0
}

.newsletter-form {
  max-width: 480px;
  margin: 25px auto 0
}

.newsletter-form h4 i {
  padding-right: 10px;
  vertical-align: middle
}

.newsletter-form .input-group {
  margin-bottom: 10px
}

.newsletter-form input {
  height: 44px;
  background-color: #fff
}

#footer img.logo {
  margin-bottom: 30px
}

#footer h5 {
  font-size: 18px;
  line-height: 14px;
  margin-bottom: 5px;
  padding: 10px 0;
  color: #333
}

#footer .footer-links {
  line-height: 24px;
  margin: 0;
  padding: 5px 0
}

#footer .footer-links a {
  font-size: 15px;
  color: #666
}

#footer .btmFooter {
  padding: 35px 0 0;
  border-top: 1px solid #eee;
  background: #fff
}

#footer .btmFooter p {
  margin: 6px 0 0
}

#footer .btmFooter p i {
  font-size: 13px;
  margin: 0 5px
}

#footer strong {
  color: #000
}

.pay-opt li a img {
  max-width: 40px
}

.coupon_modal.modal .modal-dialog .modal-content {
  padding: 0;
  border-color: #eee;
  border-radius: 0;
  box-shadow: none
}

.coupon_modal_content {
  font-size: 16px;
  padding: 40px 15px 40px;
  border-radius: 0
}

.coupon_modal button.close {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 10px;
  cursor: pointer;
  opacity: 1;
  color: #fff;
  border: 0;
  background: #f30;
  text-shadow: none;
  -webkit-appearance: none
}

.coupon_code {
  font-size: 21px;
  position: relative;
  width: 100%;
  margin: 5px auto;
  padding: 10px 20px;
  text-align: center;
  border: 2px dashed azure
}

.newsletter-modal {
  padding: 20px;
  text-align: center;
  background: #f8f8f8
}

.report {
  font-size: 13px;
  font-weight: 400;
  margin-top: 12px;
  padding: 0;
  text-align: center
}

.report .vote-link {
  padding: 0 5px 2px;
  cursor: pointer;
  border-bottom: 0;
  background: #fff
}

.explain_group .item, .sidebar-nav li a {
  display: block;
  cursor: pointer;
  text-decoration: none
}

.report .vote-link.yes {
  margin-top: 5px;
  margin-left: 8px;
  color: #649127;
  border-bottom: 2px solid #649127
}

.report .vote-link.no {
  margin-top: 5px;
  margin-left: 8px;
  color: #d70954;
  border-bottom: 2px solid #d70954
}

.coupon_modal.modal .nav {
  border-top: 0;
  border-radius: 0;
  background: #25282e
}

.coupon_modal.modal .nav-pills>li a {
  padding-top: 20px;
  padding-bottom: 20px
}

.coupon_modal.modal .nav-pills>li.active>a, .coupon_modal.modal .nav-pills>li.active>a:focus, .coupon_modal.modal .nav-pills>li.active>a:hover, .coupon_modal.modal .nav-pills>li>a:hover {
  color: #fff;
  border-radius: 0;
  background-color: #25282e
}

.tooltip-inner {
  max-width: 310px;
  padding: 5px 8px;
  text-align: center;
  color: #fff;
  border-radius: 0;
  background-color: #000
}

.faq h3, .faq p.larger-text {
  font-weight: 600;
  color: #1e1e23
}

.faq {
  padding: 89px 0 95px
}

.faq h3 {
  font-size: 28px;
  margin: 0 0 70px;
  text-align: center
}

.faq p.larger-text {
  font-size: 18px;
  margin: 0 0 24px;
  padding: 0
}

.faq p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 60px;
  padding: 0;
  color: #797b81
}

.faq-section .panel-heading {
  padding: 16px 20px 12px;
  border: none!important;
  border-radius: 0
}

.faq-section .panel .panel-title>a {
  color: #2a2c36
}

.faq-section .panel .panel-title>a i {
  padding-right: 8px
}

.explain_group {
  margin-top: 30px
}

.explain_group .item {
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0 1px 2px #d9dadb
}

.explain_group .item .box-icon {
  float: left;
  width: 50px;
  height: 50px
}

.explain_group .item .box-icon i {
  font-size: 18px;
  float: left;
  margin-right: 15px;
  padding: 16px;
  color: #fff;
  border-radius: 100%
}

.explain_group .item .box-info {
  margin-left: 65px;
  color: #333
}

.explain_group .item .box-info h3 {
  margin-top: 0;
  margin-bottom: 0
}

.explain_group .item .box-info h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 7px 0;
  color: #a1a3a7
}

.explain_group .item .box-info .point {
  font-size: 13px;
  line-height: 26px
}

.explain_group .item .box-info .point i {
  padding-right: 5px;
  color: #7ab55c
}

.widget.categories .widget-body {
  padding: 0
}

.sidebar-nav {
  margin: 0;
  padding: 0;
  background: #fff
}

.sidebar-nav li {
  position: relative;
  list-style-type: none;
  border-bottom: 0
}

.sidebar-nav li i {
  font-size: 18px;
  margin-right: 20px;
  padding-right: 10px;
  color: #25282b;
  border-right: 1px solid #e6e7eb
}

.sidebar-nav li a {
  font-weight: 400;
  line-height: 48px;
  position: relative;
  clear: both;
  overflow: hidden;
  height: 48px;
  padding: 0 56px 0 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #25282b;
  border-bottom: 1px solid #e6e7eb;
  -o-text-overflow: ellipsis
}

.sidebar-nav li:last-of-type a {
  border-bottom: 0
}

.sidebar-nav li a:focus, .sidebar-nav li a:hover {
  outline: 0;
  background-color: #f7f8fa;
  box-shadow: none
}

.sidebar-nav li a .caret {
  position: absolute;
  top: 23px;
  right: 37px
}

.sidebar-nav li a .sidebar-badge {
  position: absolute;
  top: 0;
  right: 16px
}

.sidebar-nav li a:hover {
  background: 0 0
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  border-color: #dae2ed;
  background-color: #f7f8fa
}

.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none
}

.sidebar-nav .dropdown.open {
  background-color: #f3f3f3
}

.pricing h2 {
  margin: 20px 0
}

.pricing .panel {
  margin-top: 20px;
  margin-bottom: 35px;
  padding-bottom: 40px;
  box-shadow: 0 1px 2px #d9dadb
}

.pricing .panel.panel-default .panel-heading {
  padding: 20px;
  border-bottom: #dae2ed 1px solid;
  background: #25282e
}

.pricing .panel.panel-default .panel-heading h4 {
  color: #fff
}

.pricing .panel.panel-default .list-group-item {
  border-color: transparent
}

.pricing .panel.panel-highlight {
  border-radius: 0
}

.pricing .panel .panel-heading .price {
  font-size: 55px;
  font-weight: 800;
  margin: 10px;
  padding: 0
}

.pricing .panel .panel-heading .price small {
  font-size: .4em;
  font-weight: 400;
  padding-left: 5px
}

.pricing .panel .list-group {
  padding-top: 35px;
  border: 0;
  background-color: transparent
}

.pricing .panel .panel-body {
  padding: 30px 50px 20px
}

.pricing .panel ul.list-group li.list-group-item.text-muted {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}

.pricing .panel ul.list-group li.list-group-item em {
  font-weight: 300;
  margin: 0 .5ex
}

.coupon-single .ribbon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 80px;
  height: 85px
}

.ribbon {
  font-size: 13px;
  position: relative;
  top: 14px;
  left: -3px;
  width: 120px;
  padding: 2px 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  text-align: center;
  color: #fff
}

.ribbon:after, .ribbon:before {
  position: absolute;
  bottom: -3px;
  border-top: 3px solid #6e8900
}

.ribbon:before {
  left: 0
}

.ribbon:after {
  right: 0
}

.dp-header {
  margin-bottom: 30px;
  padding: 20px 0;
  background: #fff;
  box-shadow: 0 1px 2px #d9dadb
}

.dph-info {
  min-height: 140px;
  padding-left: 160px
}

.dph-info img {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px
}

.dph-info h4 {
  font-size: 26px;
  margin: 18px 0 10px;
  color: #202126
}

.dph-info p {
  font-size: 14px;
  margin-bottom: 15px;
  padding: 0;
  color: #333
}

.dph-info div a {
  font-size: 12px;
  line-height: 22px;
  display: inline-block;
  width: 86px;
  height: 24px;
  margin-right: 5px;
  text-align: center;
  border: 1px solid #f30;
  border-radius: 3px
}

.dph-info div a:hover {
  color: #fff;
  border: 1px solid #f30;
  background-color: #f30
}

.dph-reviews {
  padding-top: 42px
}

.dph-reviews p {
  font-size: 14px;
  float: left;
  padding-left: 15px;
  color: #333
}

.dph-reviews p span {
  font-size: 26px;
  font-weight: 700;
  display: block;
  color: #202126
}

.dph-reviews p span em {
  font-size: 18px;
  font-style: normal
}

.dph-rec {
  position: relative;
  padding-left: 99px!important
}

.dph-rec i {
  font-size: 18px;
  line-height: 43px;
  position: absolute;
  top: -4px;
  left: 30px;
  width: 48px;
  height: 48px;
  text-align: center;
  color: #000;
  border: 2px solid #e6e7eb;
  border-radius: 50%
}

.blog-quote h5, .post-meta li {
  font-size: 12px;
  text-transform: uppercase
}

.dp-about {
  padding: 18px 27px 30px;
  border: 1px solid #e6e7eb;
  border-radius: 3px;
  background: #fff
}

.dp-info {
  padding: 33px 0 87px;
  background: #e6e7eb
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
  border: 0
}

.list-group-item {
  padding: 12px 20px;
  border: 1px solid #eee;
  border-right: 0;
  border-left: 0;
  border-radius: 0
}

.list-group-item:last-child {
  border-bottom: 0
}

.list-group-item.disabled, .list-group-item.disabled:focus, .list-group-item.disabled:hover {
  cursor: not-allowed;
  color: #777;
  border-top: 0;
  background-color: #f7f8fa
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  text-decoration: none;
  color: #f30;
  background-color: #f8f8f8
}

.list-check>li {
  line-height: 28px;
  position: relative;
  margin-bottom: 3px;
  padding-left: 20px
}

.list-check>li:after {
  font-family: themify;
  position: absolute;
  top: 0;
  left: 0;
  content: '\e64c';
  color: #7ab55c
}

@media (min-width:768px) and (max-width:991px) {
  body {
    overflow-x: hidden;
    padding-top: 65px
  }
}

@media (max-width:767px) {
  body {
    overflow-x: hidden;
    padding-top: 65px
  }
  .content-page {
    margin-left: 0!important
  }
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
  }
}

@media (max-width:480px) {
  .search-bar {
    display: none
  }
}

@media (max-width:420px) {
  .hide-phone {
    display: none
  }
  .topbar-left {
    width: 115px
  }
}

.post-meta {
  display: inline-block;
  margin: 10px 0;
  padding: 0;
  color: #000
}

.post-meta li {
  display: inline-block;
  float: left;
  margin-right: 7px;
  list-style-type: none
}

.post-meta li i {
  margin-right: 6px
}

.blog-quote h5 {
  font-family: Montserrat;
  margin: 0 0 94px;
  color: #242626
}

.blog-quote p {
  font-family: Georgia;
  font-size: 24px;
  font-style: italic;
  line-height: 36px;
  margin: 0 0 42px;
  color: #2a2c36
}

.blog-quote cite {
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: .1em;
  color: #242626
}

.blog blockquote, .blog h3 span {
  font-family: Georgia;
  font-style: italic
}

.blog-quote cite span {
  display: block;
  padding: 4px 0 16px;
  letter-spacing: 0;
  color: #9e9e9e
}

.bq-social {
  display: table;
  margin: 0 0 40px
}

.bq-social li {
  float: left;
  margin: 0 9px 0 3px
}

.bq-social li a {
  font-size: 13px;
  display: table;
  width: 32px;
  height: 32px;
  padding-top: 7px;
  text-align: center;
  color: #242626;
  border: 2px solid #f0f2f7;
  border-radius: 50%
}

.blog h3 {
  font-size: 34px;
  font-weight: 600;
  margin: -10px 0 18px
}

.blog h3 span {
  font-weight: 400
}

.blog time {
  font-size: 13px;
  display: block;
  margin: 0 0 55px;
  color: #9e9e9e
}

.blog p, .blog p.large-text {
  line-height: 28px;
  margin: 0 0 33px
}

.blog p.large-text {
  font-size: 18px;
  padding-right: 19%;
  letter-spacing: .21px
}

.blog p {
  font-size: 16px;
  padding-right: 11%;
  letter-spacing: 0
}

.blog h4 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 18px
}

.blog .img-caption {
  font-size: 12px;
  display: block;
  margin: 0 0 25px;
  color: #999
}

.blog .img-caption span {
  color: #242626
}

.blog .img-caption img {
  margin-bottom: 30px
}

.blog h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 20px
}

.blog blockquote {
  font-size: 24px;
  font-weight: 400;
  margin: 45px 0 70px;
  padding: 0 0 0 45px;
  color: #25282b;
  border: none
}

.icons-list h3, .post-tags a {
  font-weight: 700
}

.post-tags {
  display: table;
  margin: 17px 0 35px
}

.post-tags a {
  font-size: 10px;
  line-height: 29px;
  float: left;
  margin-right: 11px;
  padding: 0 20px;
  color: #25282b;
  border: 1px solid #eee;
  border-radius: 3px;
  background: #fff
}

.post-tags a:hover {
  color: #fff;
  border: 1px solid #f30
}

.blog .social a {
  font-family: Montserrat;
  font-size: 10px;
  line-height: 42px;
  float: left;
  margin-right: 10px;
  padding: 0 38px;
  color: #fff;
  border-radius: 0
}

.blog .social a i {
  margin-right: 15px
}

.blog .social a.fb {
  background: #225b99
}

.blog .social a.tweet {
  background: #00adf2
}

.blog .social a:hover {
  color: #fff;
  background: #000
}

#footer .btmFooter p i, .bq-social li a:hover, .breadcrumb>.active, .btn-border, .color-primary, .coupon-block .coupon-value, .coupon-details .btn-group .btn:nth-of-type(1), .dph-info div a, .header .active a:first-of-type, .header .active a:first-of-type i, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, .nav.nav-tabs>li>a:hover, .nav.nav-tabs>li>a:hover i, .nav.tabs-vertical>li>a:hover, .newsletter-form h4 i, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover, .pricing .panel .panel-heading .price, .savings .large, .select-search .btn-group .btn.active i, .tabs-vertical>li.active>a, .tabs-vertical>li.active>a i, .tabs-vertical>li.active>a:focus, .tabs-vertical>li.active>a:hover, a:hover {
  color: #f30
}

.badge-danger, .btn-border:active, .btn-border:focus, .btn-border:hover, .post-tags a:hover, .ribbon {
  background-color: #f30
}

.icons-list h3 {
  margin: 1em 0
}

.icon-section {
  clear: both;
  overflow: hidden;
  margin: 0 0 3em
}

.icon-container {
  font-size: 18px;
  position: relative;
  float: left;
  width: 240px;
  padding: .7em 0;
  text-align: left
}

.icon-container[class*=' ti-'], .icon-container[class^=ti-] {
  font-size: 17px;
  position: absolute;
  margin-top: 5px;
  padding: 0;
  -webkit-transition: .3s;
  transition: .3s;
  color: #000;
  border: none
}

.icon-container:hover[class*=' ti-'], .icon-container:hover[class^=ti-] {
  font-size: 2.2em;
  margin-top: -5px
}

.icon-container:hover .icon-name {
  color: #000
}

.icon-name {
  font-size: .8em;
  margin-left: 35px;
  -webkit-transition: .3s;
  transition: .3s;
  color: #666
}

.icon-container:hover .icon-name {
  margin-left: 45px
}
